<div id="tm-footer" class="tm-footer uk-block uk-block-secondary uk-contrast uk-text-small">
  <div class="uk-container uk-container-center">
    <section class="uk-grid uk-grid-match" data-uk-grid-margin="">
      <div class="uk-width-medium-1-1 uk-row-first">
        <div class="uk-panel   ">
          <div class="uk-flex uk-flex-middle uk-flex-space-between uk-flex-wrap" data-uk-grid-margin="">
            <div class="uk-row-first">

              {% include svg-icons.html %}

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>