<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <link href="/css/uikit.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/js/components/grid.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/js/components/pagination.js"></script>
  <style>
    h1 a { color:#333; text-decoration: none; padding: 1px 2px; background: #f9fc7e; }
    a:hover { color: #666; background: none; }
  </style>
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
</head>
