{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}" class="uk-icon-hover"><i class="uk-icon-facebook uk-icon-button"></i></a>{% endif %}
{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}" class="uk-icon-hover"><i class="uk-icon-twitter uk-icon-button"></i></a>{% endif %}
{% if site.footer-links.pinterest %}<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}" class="uk-icon-hover"><i class="uk-icon-pinterest uk-icon-button"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" class="uk-icon-hover"><i class="uk-icon-linkedin uk-icon-button"></i></a>{% endif %}
{% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}" class="uk-icon-hover"><i class="uk-icon-instagram uk-icon-button"></i></a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}" class="uk-icon-hover"><i class="uk-icon-github uk-icon-button"></i></a>{% endif %}
{% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}" class="uk-icon-hover"><i class="uk-icon-flickr uk-icon-button"></i></a>{% endif %}
{% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}" class="uk-icon-hover"><i class="uk-icon-youtube uk-icon-button"></i></a>{% endif %}
{% if site.footer-links.snapchat %}<a href="https://www.snapchat.com/add/{{ site.footer-links.snapchat }}" class="uk-icon-hover"><i class="uk-icon-snapchat uk-icon-button"></i></a>{% endif %}
{% if site.footer-links.vine %}<a href="https://vine.co/{{ site.footer-links.vine }}" class="uk-icon-hover"><i class="uk-icon-vine uk-icon-button"></i></a>{% endif %}

