    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="vA_oiYwVvcoicBgcpNcudHWatg_YIW-HizPkfOuHRYA" />
    <meta name="p:domain_verify" content="82a710ec59ed1fc5d0737ea85c5b59c3"/>
    <meta name="author" content="{{ site.name }}" />
    <meta name="twitter:site" content="@targz" />
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.name }}. {{ site.description }}">
    <meta property="og:description" content="{{ site.name }}. {{ site.description }}" />
    {% endif %}
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}
    {% if page.preview %}
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:image" content="{{ site.url }}/{{ page.preview }}" />
    <meta name="twitter:url"    content="{{ site.url }}{{ page.url }}" />
    {% endif %}
