


<nav>
  <ul class="uk-subnav uk-subnav-pill">
    <li {% if page.url == '/work/' %}class='uk-active'{% endif %}{% if page.url == '/' %}class='uk-active'{% endif %}{% if cat == 'work' %}class='uk-active'{% endif %}><a href='{{ site.github.url }}/'>WORK</a></li>
    <li {% if page.url == '/leisure/' %}class='uk-active'{% endif %}{% if cat == 'leisure' %}class='uk-active'{% endif %}><a href='{{ site.github.url }}/leisure/' > LEISURE </a></li>
    <!-- <li {% if page.url == '/photos/' %}class='uk-active'{% endif %}><a href='{{ site.github.url }}/photos/' > PHOTOS </a></li> -->
     <li><a href='http://targz.xyz' >DOODLE</a></li>
    <li><a href='http://targz.pictures'>SHOT</a></li>
   
  </ul>
</nav>

