


<nav>
  <ul class="uk-subnav uk-subnav-pill">
    <li {% if page.url == '/work/' %}class='uk-active'{% endif %}{% if page.url == '/' %}class='uk-active'{% endif %}{% if cat == 'work' %}class='uk-active'{% endif %}><a href='{{ site.github.url }}/'>WORK</a></li>
    <li {% if page.url == '/play/' %}class='uk-active'{% endif %}{% if cat == 'play' %}class='uk-active'{% endif %}><a href='{{ site.github.url }}/play/' > PLAY </a></li>
    <li {% if page.url == '/capture/' %}class='uk-active'{% endif %}><a href='{{ site.github.url }}/capture/' > CAPTURE </a></li>
    <li><a href='http://targz.xyz' >EXPERIMENT</a></li>
  </ul>
</nav>

