


<nav>
  <ul class="uk-subnav uk-subnav-pill">
    <li {% if page.url == '/work/' %}class='uk-active'{% endif %}{% if page.url == '/' %}class='uk-active'{% endif %}{% if cat == 'work' %}class='uk-active'{% endif %}><a href='{{ site.github.url }}/'>WORKS</a></li>
    <li {% if page.url == '/plays/' %}class='uk-active'{% endif %}{% if cat == 'plays' %}class='uk-active'{% endif %}><a href='{{ site.github.url }}/plays/' > PLAYS </a></li>
    <li {% if page.url == '/photos/' %}class='uk-active'{% endif %}><a href='{{ site.github.url }}/photos/' > PHOTOS </a></li>
    <li><a href='http://targz.xyz' >EXPERIMENTS</a></li>
  </ul>
</nav>

