<!--  
 _______ _______ _______ _______ _______   _______ _______ 
|       |   _   |   _   |   _   |   _   | |   _   |   _   \
|.|   | |.  1   |.  l   |.  |___|___|   __|.  1___|.  l   /
`-|.  |-|.  _   |.  _   |.  |   |/  ___|__|.  __) |.  _   1
  |:  | |:  |   |:  |   |:  1   |:  1  \  |:  |   |:  |   |
  |::.| |::.|:. |::.|:. |::.. . |::.. . | |::.|   |::.|:. |
  `---' `--- ---`--- ---`-------`-------' `---'   `--- ---'
-->
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <header class="site-header">
      <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
        <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        <p class="uk-text-muted">{{ site.description }} <br/><span class="uk-text-muted">Check my <a href="https://www.tiktok.com/@targz">TikTok</a> and <a href="https://www.instagram.com/targz/">Instagram</a> to see my last piece. </span></p>
        <hr/>
        <nav>
          {% include nav.html %}
        </nav>
      </div>
    </header>
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
      {{ content }}
      {% include footer.html %}
    </div>
    {% include analytics.html %}
  </body>
</html>
