<!--  
 _______ _______ _______ _______ _______   _______ _______ 
|       |   _   |   _   |   _   |   _   | |   _   |   _   \
|.|   | |.  1   |.  l   |.  |___|___|   __|.  1___|.  l   /
`-|.  |-|.  _   |.  _   |.  |   |/  ___|__|.  __) |.  _   1
  |:  | |:  |   |:  |   |:  1   |:  1  \  |:  |   |:  |   |
  |::.| |::.|:. |::.|:. |::.. . |::.. . | |::.|   |::.|:. |
  `---' `--- ---`--- ---`-------`-------' `---'   `--- ---'
-->
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    
    
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
      {{ content }}
      {% include footer.html %}
    </div>

    

    {% include analytics.html %}
  </body>
</html>
